<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.swango">
        <category id="general" label="32001">
            <group id="1">
                <setting label="30001" id="username" type="string">
                    <default />
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30001</heading>
                    </control>
                </setting>

                <setting label="30002" id="password" type="string">
                    <default />
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30002</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
            </group>

            <group id="2">
                <setting label="30030" id="device_type_code" type="string">
                    <default>ANDROID_4_4PLUS</default>
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30030</heading>
                    </control>
                </setting>

                <setting label="30031" id="device_model" type="string">
                    <default>Huawei</default>
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30031</heading>
                    </control>
                </setting>

                <setting label="30032" id="device_name" type="string">
                    <default>HUAWEI SCL-L21</default>
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30032</heading>
                    </control>
                </setting>

                <setting label="30033" id="device_serial_number" type="string">
                    <default>"-------------"</default>
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30033</heading>
                    </control>
                </setting>
                <setting label="30034" id="device_token" type="string">
                    <default />
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30034</heading>
                    </control>
                </setting>
            </group>
        </category>

        <category id="epg_playlist" label="32002">
              
            <group id="playlist">
                <setting label="30035" id="generate_playlist" type="boolean">
                    <default>false</default>
                    <level>0</level>
                    <control type="toggle">
                        <heading>30035</heading>
                    </control>
                </setting>

                <setting label="30036" id="playlistpath" type="path">
                    <default/>
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable" setting="generate_playlist">true</dependency>
                    </dependencies>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>30036</heading>
                    </control>
                </setting>
                <setting label="30037" id="playlistfile" type="string">
                    <default>swan_playlist.m3u</default>
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable" setting="generate_playlist">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30037</heading>
                    </control>
                </setting>
            </group>
            

            <group id="epg">

                <setting label="30038" id="generate_epg" type="boolean">
                    <default>false</default>
                    <level>0</level>
                    <control type="toggle">
                        <heading>30038</heading>
                    </control>
                </setting>
                
                <setting label="30039" id="epgdays" type="integer">
                    <control type="edit" format="integer"></control>
                    <default>3</default>
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable" setting="generate_epg">true</dependency>
                    </dependencies>
                    <control type="edit" format="integer">
                        <heading>30039</heading>
                    </control>
                </setting>

                <setting label="30040" id="epgpath" type="path">
                    <default/>
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable" setting="generate_epg">true</dependency>
                    </dependencies>
                    <control type="button" format="path">
                        <heading>30040</heading>
                    </control>
                </setting>

                <setting label="30041" id="epgfile" type="string">
                    <default>epginfo.xml</default>
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable" setting="generate_epg">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30041</heading>
                    </control>
                </setting>

            </group>

            <group id="lang">
                <setting label="30042" id="epg_lang" type="string">
                    <default>slk</default>
                    <level>0</level>
                    <constraints>
                        <options>
                            <option label="SK">slk</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30042</heading>
                    </control>
                </setting>
                <setting label="next update" id="next_update" type="string">
                    <control type="edit" format="string"></control>
                    <default />
                    <level>0</level>
                    <visible>false</visible>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>"NextUpdate"</heading>
                    </control>
                </setting>    
                </group>
        </category>
    </section>
</settings>